<h2>Events</h2>

<div *ngFor="let event of events">
   <mat-card>
      <mat-card-title>{{event.id}}:  {{event.description}}</mat-card-title>
        Start time of event: {{event.fromTime}}<br>
        End time of event: {{event.toTime}}
    </mat-card>
</div>